body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  padding-top: 5px;
  background-color:black;
  color: white;
  margin-bottom: 10px;
}

li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

button{
  display: block;
  font-weight: bold;
  border: 3px solid black;
  text-align: center;
  border-radius: 10px;
  background-color: yellow;
}

i{
  display: inline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.art-container {
  text-align: center;
  display: grid;
  margin-right: 25px;
  margin-left: 25px;
  grid-template-columns: repeat(3, 1fr);  
  grid-auto-rows: min-content;
  grid-gap: 20px;
  grid-auto-flow: dense;
}

.frame{
  /* border: 6px solid black;  */
  position : relative;
}

/* .frame-content {
  position : relative;
} */

.icon{
  padding-top: 0;
  margin-top: 0;
}

.art-image{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom:0;
  border-bottom:0;
  border: 6px solid black;
}

.nav{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom:0;
 
}

.title {
  margin-top: 0;
  margin-bottom:0;
  padding-top: 0;
  padding-bottom: 0;
}

.title-under{
  /* position: absolute;
  bottom: 0%; */
  margin-bottom: 0;
  padding-bottom: 5px;
}

/* .artpiece-buttons{
  position: absolute;
  top: 0;
  right: 0;
} */


/* from lifting-state-lab */
.section-count {
  display: inline-block;
  background-color: white;
  color: black;
  text-align: center;
  padding: 0.25em 0.25em 0.25em 0.25em;
  border-radius: 20%;
  margin-left: 0.25em;
  font-weight: bold;
}
