body {
  margin: 0;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header{
  padding-top: 5px;
  background-color:black;
  color: white;
  margin-bottom: 10px;
}

li{
  list-style-type: none;
  display: inline-block;
  margin: 10px;
}

button{
  display: block;
  text-align: center
}

i{
  display: inline;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.art-container {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);  
  grid-auto-rows: min-content;
  grid-gap: 10px;
  grid-auto-flow: dense;
}

.frame{
  border: 6px solid black;
}

.icon{
  padding-top: 0;
  margin-top: 0;
}

.icon-info{
  position:absolute;
  top: 85%;
  left: 70%;
  color:white;
}

.art-image{ 
  width: 100%;
  height: 100%;
  object-fit: cover;
  padding-bottom:0;
  border-bottom:0;
}

.nav{
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom:0;
 
}

.title {
  margin-top: 0;
  margin-bottom:0;
  padding-top: 0;
  padding-bottom: 0;
}

.title-under{
  margin-bottom: 0;
  padding-bottom: 5px;
}



